<!DOCTYPE html5>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentarios - Administração</title>
    <link rel="stylesheet" href="css/styles-comentarios.css">
    <link rel="icon" href="img/Logotipo/icon.png" type="image/png">
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="flex">
                <a href="Index.html"><img src="img\Logotipo\logo2.png" alt="Nosso Salão" id="logo"></a>
                <nav>
                    <ul>
                        
                        <li><a href="Agenda.html">Agenda</a></li>
                        <li><a href="Produtos.html">Produtos</a></li>
                        <li><a href="Comentarios.html">Comentários</a></li>
                        <li><a href="../ProjetoWebUsuário/Index.html">Admin</a></li>
                    </ul>
                </nav>
                <button id="mudar-tema" class="theme-toggle">
                    <img id="theme-icon" src="img/Icon/sol-br.png" alt="Tema">
                </button>  
                <a id="theme-icon-sair" href="login.html">
                    <img src="img/Icon/sair-br.png" alt="Sair">
                </a> 
            </div>
        </div>
    </header>
    <main>
  
  </main>
    <footer>
    <p>&copy; 2024 Studio Glimmer. Todos os direitos reservados.</p>
    </footer>      
        <script src="/Js/menu.js"></script>
        <script src="Js/comentarios.js"></script>
        <script src="Js/modo_escuro.js"></script>
</body>
</html>