{% load static %}
<footer id="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-col">
                <img src="{% static 'img/Logotipo/Logo.min.png' %}" alt="Logo" id="footer-logo">
            </div>
            <div class="footer-col">
                <p>Endereço: Rua das flores, 32, Bom Jesus da Lapa - Ba</p>
                <p>Telefone: (11) 4002-8922</p>
                <p>Email: contato@hairstyle.com.br</p>
            </div>
            <div class="footer-col">
                <p>Horário de Funcionamento:</p>
                <p>Seg-Sex: 9:00-20:00</p>
                <p>Dom: 9:00-15:00</p>

                
            </div>
        </div>
    </div>
</footer>    