{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Hair Style</title>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'Admin/css/styles-comentarios2.css' %}">
<link rel="stylesheet" href="{% static 'Admin/css/styles-agenda2.css' %}">
<link rel="stylesheet" href="{% static 'Admin/css/styles-produto2.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="{% static 'Admin/css/dashboard.css' %}">
<style>
    .success{
        background-color: darkgreen;
        color: white;
    }
    .error{
        color: red;
    }
    .info{
        color: blue;
    }
</style>
